

.dropdown1:hover .dropdown-menu{
    display: block;
    border-radius: 0px;
    border: none;
    width: 1100px;
    margin-left: -50px;
    /* margin-top: 8px; */
    
}
.dropdown2:hover .dropdown-menu{
    display: block;
    border-radius: 0px;
    border: none;
    width: 1100px;
    margin-left: -140px;
    /* margin-top: 8px; */
}
.dropdown3:hover .dropdown-menu{
    display: block;
    border-radius: 0px;
    border: none;
    width: 1100px;
    margin-left: -230px;
    /* margin-top: 8px; */
}
.dropdown4:hover .dropdown-menu{
    display: block;
    border-radius: 0px;
    border: none;
    width: 1100px;
    margin-left: -315px;
    /* margin-top: 8px; */
}
.dropdown5:hover .dropdown-menu{
    display: block;
    border-radius: 0px;
    border: none;
    width: 1100px;
    margin-left: -460px;
    /* margin-top: 8px; */
}
.dropdown6:hover .dropdown-menu{
    display: block;
    border-radius: 0px;
    border: none;
    width: 1100px;
    margin-left: -530px;
    /* margin-top: 8px; */
}
.dropdown7:hover .dropdown-menu{
    display: block;
    border-radius: 0px;
    border: none;
    width: 1100px;
    margin-left: -600px;
    /* margin-top: 8px; */
}
