@font-face{
  font-family: roboto;
  src: url(../src/assets/fonts/Roboto-Regular.ttf);
}
@font-face{
  font-family: proxima;
  src: url(./assets/fonts/proxima/Rene\ Bieder\ \ Milliard\ Book.otf);
}
@font-face {
  font-family:italic;
  src: url(./assets/fonts/italic/EBGaramond-VariableFont_wght.ttf);
}
*{
  margin: 0;
  box-sizing: border-box;
  font-family: proxima;
}

img{
  width: 100%;
}
.list li{
  cursor: pointer;
  font-size: 15px;
  color: #333;

}
.list li:hover{
  color: black;
  font-size: 16px;
}
.wedding-img{
 background-image: linear-gradient(to top ,black,transparent,transparent),url(./assets/home.webp);
  background-size: cover;
  height: 800px;
}
.more{
  font-size: 14px;
}
.more:hover{
  text-decoration: underline;
  color: #B4245D;
  font-size: 15px;
}

.slick-arrow{
  width: 30px !important;
  height: 29px !important;
  padding: 5px !important;
  padding-top: 6px !important;
  border-radius: 100%;
  background-color: rgb(209, 208, 208)!important;
 
  z-index: 1 !important;
}
.slick-arrow:hover{
  background-color: #E72E77 !important;
  box-shadow: 1px 1px 20px #E72E77;
}
.search:hover{
  color: #E72E77;
}

.zoom{
  overflow: hidden;
}
 .zoom img{
  /* width: 100%; */
  transition: 0.5s all ease-in-out;
}
.zoom:hover img {
  transform: scale(1.5);
}
.gallery:hover{
  color: #E72E77;
}
.heading2:hover{
  color: #af2b60 !important;
}
.abc{
  clip-path: ellipse(99% 140px at 100% 50%);
}
.max-width-container {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 50px;
}
.know:hover{
  background-color: #E72E77 !important;
  color: white !important;
}
.download:hover{
  background-color: #871744 !important;
}