@font-face{
  font-family: roboto;
  src: url(../src/assets/fonts/Roboto-Regular.ttf);
}
@font-face{
  font-family: proxima;
  src: url(./assets/fonts/proxima/Rene\ Bieder\ \ Milliard\ Book.otf);
}
@font-face {
  font-family:italic;
  src: url(./assets/fonts/italic/EBGaramond-VariableFont_wght.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;

}
img{
  width: 100%;
}
.list li{
  cursor: pointer;
  font-size: 15px;
  color: #333;

}
.list li:hover{
  color: black;
  font-size: 16px;
}
.wedding-img{
 background-image: linear-gradient(to top ,black,transparent),url(./assets/home.webp);
  background-size: cover;
  height: 700px;
}
.more{
  font-size: 14px;
}
.more:hover{
  text-decoration: underline;
  color: #B4245D;
  font-size: 15px;
}

.slick-arrow{
  width: 30px !important;
  height: 29px !important;
  padding: 5px !important;
  padding-top: 6px !important;
  border-radius: 100%;
  background-color: black!important;
  box-shadow: 1px 1px 20px black;
  z-index: 1 !important;
}
.slick-arrow:hover{
  background-color: #E72E77 !important;
  box-shadow: 1px 1px 20px #E72E77;
}
.search:hover{
  color: #E72E77;
}

.zoom{
  overflow: hidden;
}
 .zoom img{
  width: 100%;
  transition: 0.5s all ease-in-out;
}
.zoom:hover img {
  transform: scale(1.5);
}
.heading2:hover{
  color: #af2b60 !important;
}