@font-face{
  font-family: roboto;
  src: url(../src/assets/fonts/Roboto-Regular.ttf);
}
@font-face{
  font-family: proxima;
  src: url(./assets/fonts/proxima/Rene\ Bieder\ \ Milliard\ Book.otf);
}
@font-face {
  font-family:italic;
  src: url(./assets/fonts/italic/EBGaramond-VariableFont_wght.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
li{
  cursor: pointer;
  font-size: 15px;
  color: #333;

}
li:hover{
  color: black;
  font-size: 16px;
}
.wedding-img{
 background-image: linear-gradient(to top ,black,transparent),url(./assets/home.webp);
  background-size: cover;
  height: 700px;
}



